*{
    background-color: darkslategrey;
    color: white;
    font-family: monospace;
    font-size: 17px;
    font-weight: bolder;
}

form, label{
    display: flexbox;
    text-align: left;
    margin: 15px;
    padding: 30px;
    margin-left: 12vw;
}

h3{
    margin: 0;
    padding: 0;
    font-size: 22px;
    display: flexbox;
    text-align: center;
    margin-block-start: 1em;
}

h4{
    margin: 5px;
    padding: 0;
    font-size: 22px;
    display: flexbox;
    text-align: center; 
    margin-block-end: 1em;
}

input, select{
    display: inline-flexbox;
    margin: 15px;
    padding: 10px;
    background-color: white;
    color: black;
}

#name1{
    margin-left: 8vw;
    width: 14vw;
}

#name2{
    margin: -20px;
    width: 14vw; 
}

#email{
    margin-left: 1.3vw;
    width: 30vw;
}

#phone{
    width: 30vw;
    margin-left: 2.5vw;
}

#gender{
    margin-left: 6.45vw;
    width: 31.6vw;
}

#country{
    margin-left: 5.8vw;
    width: 31.6vw;
}

#dob_day{
            width: 8.9vw;
            margin-left: 1.8vw;
}

#dob_mon{
            width: 8.9vw;
            margin-left: -1.4vw;
}

#dob_yr{
        width: 8.78vw;
        margin-left: -1.4vw;
}

#street1{
    margin-left: 5.8vw;
    width: 14.2vw;
}

#street2{
    margin-left: -23px;
    width: 14.2vw;
}

#landmark, #state{
    margin-left: 28.6vw;
    width: 14.2vw;
}

#city, #code{
    margin-left: -23px;    
    width: 14.2vw; 
}